{
    "extends": "airbnb",
    "globals": {
        "describe": true,
        "it": true,
        "expect": true,
        "afterEach": true
    },
    "rules": {
        "indent": ["error", 4],
        "semi": "error",
        "quotes": ["error", "double"],
        "no-underscore-dangle": 0,
        "no-console": 0,
        "no-trailing-spaces":0,
        "key-spacing":0,
        "quote-props":0
    },
    "env": {
        "node": true
    }
}